:root {
    --3DshadowE8: 0 0 1px, 0 0 1.1px rgba(0, 0, 0, .7), 0 1px 1px rgba(0, 0, 0, .7), 1px 0 1px, 1px 1px 1px rgba(0, 0, 0, .7), 2px 0 1px, 2px 1px 1px rgba(0, 0, 0, .7), 3px 0 1px, 3px 1px 1px rgba(0, 0, 0, .7), 4px 0 1px, 4px 1px 1px rgba(0, 0, 0, .7), 5px 0 1px, 5px 1px 1px rgba(0, 0, 0, .7), 6px 0 1px, 6px 1px 1px rgba(0, 0, 0, .7), 7px 0 1px, 7px 1px 1px rgba(0, 0, 0, .7), 8px 0 1px, 8px 1px 1px rgba(0, 0, 0, .7), 9px 0 1px, 9px 1px 1px rgba(0, 0, 0, .7), 10px 0 1px, 10px 1px 1px rgba(0, 0, 0, .4), 1px 0 1px rgba(0, 0, 0, .7), 2px 0 1px rgba(0, 0, 0, .7), 3px 0 1px rgba(0, 0, 0, .7), 4px 0 1px rgba(0, 0, 0, .7), 5px 0 1px rgba(0, 0, 0, .7), 6px 0 1px rgba(0, 0, 0, .7), 7px 0 1px rgba(0, 0, 0, .7), 8px 0 1px rgba(0, 0, 0, .7), 9px 0 1px rgba(0, 0, 0, .7), 10px 0 1px rgba(0, 0, 0, .4)
}
body {
    color:red; 
    background-color: #4EAF47;  
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    width: 100%;
}
table {
    margin: auto;
    border-spacing: 6rem 0.5rem;
    font-size:2rem;
    text-shadow: 0.1rem 0.1rem 0.1rem black;
    text-align: left;
}
th {
    border-bottom: 0.3rem dashed;
}
img {
    height: 24%; 
    width: 24%; 
    display:block; 
    margin-left: auto;
}
p {
    font-size: 6rem;
    position: relative;
    font-style: italic;
    text-align: center;
    text-shadow: var(--3DshadowE8);
    transform: rotateZ(-2deg)translate3d(0, 0, 0);
}